.center {
    width: 72%;
    font-size: 50px;
    background-color: rgb(212, 212, 212);
    display: inline-block;
}

.titulo{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-color: crimson;
    text-align: center;
}

.fruta {
    display: inline-block;
    background-color: rgb(255, 160, 160);
    overflow: hidden;
    
    font-family: sans-serif, 'Open Sans';
    font-size: 17px;
    width: 200px;
    height: 200px;
}

img{
    width: 270px;
}

.mostrar{
    background-color: rgb(255, 160, 160);
}

button{
    padding: 0.5%;
    width: 49%;
    font-style: italic;
    font-size: 15px;
}

.resultadoButton{
    float: left;
}

.limpiarButton{
    float: right;
}

p{
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#barraLateral{
    overflow: hidden;
    width: 25%;
    height: 100%;
    float: right;
    text-align: center;
}
